<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about">
      <h1>ABOUT :</h1>
      <p>
        Welcome to my blog! This is a simple project where you can create, read,
        and delete blog posts. It was built using Node.js, Express, MongoDB, and
        EJS to practice backend development.
      </p>
    </div>
  </body>
  <script src="/script.js"></script>
</html>
