<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <form action="/blogs" method="POST" id="form">
      <input type="text" placeholder="title" />
      <input type="text" placeholder="body" />
      <input type="text" placeholder="description" />
      <button type="submit">Create Blog</button>
    </form>
  </body>
  <script src="/script.js"></script>
</html>
