<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>ALL BLOGS</h1>
  </body>

  <script src="/script.js"></script>
</html>
