<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="notFoundPageContainer">
      <img src="/images/not-found-page-icon.webp" />
      <div>
        <span>Oops!</span>
        <span>404</span>
        <span>We Can't Found The Page That You're Looking For :( !</span>
        <a href="/blogs" class="button">BACK TO HOME</a>
      </div>
    </div>
  </body>

  <script src="/script.js"></script>
</html>
